/* General app container */
.app-container {
  font-family: 'Roboto', sans-serif;
  max-width: 100%; /* Fullscreen width */
  margin: 0;
  padding: 20px;
  background-color: #333; /* Dark input background */
  min-height: 100vh; /* Fullscreen height */
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; /* Dark input background */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
  color: #121212
}

.left-box, .right-box {
  background-color: #1a1a1a; /* Darker box background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

.h2 {
  margin-top: 0;
  color: #bb86fc; /* Accent color for headings */
}

.ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.ul li::before {
  content: "• ";
  color: #bb86fc; /* Accent color for bullet points */
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
  }

  .right-box {
      grid-row: auto;
  }
}

/* Form Styling */
form {
  background-color: #333; /* Dark input background */
  border-radius: 10px;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
  max-width: none;
  color: #333; /* Dark input background */
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none; /* Simplified input style */
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  color: #ffffff; /* White input text color */
}

input[type="text"]:focus {
  border-color: #bb86fc; /* Accent color for focus */
  outline: none;
}

button[type="submit"] {
  background-color: #bb86fc; /* Accent button color */
  color: white;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #9b6bc7; /* Slightly darker on hover */
}

.text-danger {
  color: #ff5252; /* Bright red for errors */
}

.spinner-border {
  display: block;
  margin: auto;
}

form p {
  text-align: center; 
  font-size: larger; 
  margin-bottom: 20px; 
}

.expandable-text {
  background-color: #1a1a1a; /* Match with form and box background */
  padding: 20px; 
  margin-top:20px; 
  width: calc(100% - 40px); 
  border-radius: 10px; 
  box-shadow: rgba(0,0,0,0.15) -4px -4px -8px inset;

  max-width:none; 
}

.expandable-text p {
  text-align:center; 
  color:#ffffff; /* Ensure expandable text is white */
}